<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ryan.common">
    <!--普通权限,允许应用杀死进行-->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
</manifest>
